<form action="/joinroom" method="post">
	<textarea name="roomID" rows="20" cols="60"></textarea>
	<input type="submit" value="Join Room" />
</form>

<form action="/createroom" method="post">
	<input type="submit" value="Create Room">
</form>
