Welcome to room #{{room.roomID}} 

<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script type="text/jsx">
	var PlayerList = React.createClass({
		render: function() {
			var createPlayerNode = function(player){
				return <li>{player.name}</li>;
			};
			return <ul>{this.props.players.map(createPlayerNode)}</ul>;
		}
	});

	var data = {};
	data.players = {{{json room.players}}};

	React.render(React.createElement(PlayerList, data),
		document.getElementById('players'));
</script>
<script type='text/javascript'>
	var socket = io('http://localhost');
	socket.on('connect', function(){
		console.log("Room socket is connected");
	});

	socket.on('joined', function(data){
		debugger;
		var player = data.player;
		//TODO: push to room.players
	});
</script>

<div id="players">
	Players
	<br />
	<div id="players" />	
</div>

